.rowFormulaire {
    background-color: white;
    width: 50%;
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container{
    display :flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .loginBtn{
    width: 10rem;
    margin-top: 5rem;
    background-color: #2d6c8c;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}