.container {
    background-image: url("../../assets/splashScrren.png");
    background-size: 100vw 100vh !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding-inline: 2rem;
  }
  .label {
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
  }