.loginBtn{
    width: 10rem;
    margin-top: 2rem;
    background-color: #2d6c8c;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }